@model Product
<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <h3>Bạn có muốn xóa sản phẩm này không?</h3>
    <button type="submit">Delete</button>
    <a asp-action="Index">Cancel</a>
z+
</form>
